# Ce fichier est un exemple de fichier d'environnement pour votre projet.

# Clé privée pour signer les transactions.
PRIVATE_KEY=your_private_key_here

# URL du réseau Ethereum (par exemple, Sepolia).
ETHEREUM_NETWORK_URL=your_ethereum_network_url_here

# Ethereum API Key (par exemple, pour Etherscan).
ETHERSCAN_API_KEY=your_etherscan_api_key_here